/* TeacherAddModalFormStyle.css */

/* Общие стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--white);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: var(--box-shadow-modal);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-header h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  transition: color 0.5s;
}

.close-btn:hover {
  color: var(--orange);
  /* Темно-оранжевый цвет при наведении */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-text {
  font-size: 14px;

  background-color: var(--orange);
  /* Оранжевый цвет фона для префикса телефона */
  color: var(--white);
  padding: 8px 12px;
  border-radius: 4px 0 0 4px;
}

.form-control {
  width: calc(100% - 20px);
  padding: 7px 8px;
  border: 1px solid var(--light-gray2);
  border-radius: 5px;
  font-size: 14px;
}

.form-control-textarea {
  min-height: 80px;
  max-height: 150px;
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
}

.form-control-phone {
  border-width: 1px 1px 1px 0;
  border-radius: 0 4px 4px 0;
}

.form-control-file {
  padding: 6px;
  border: 1px solid var(--light-gray2);
  border-radius: 4px;
}

.radio-block {
  display: flex;
}

.radio-label {
  margin-right: 15px;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 14px;

}

.radio-label input {
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;

}

/* Основной стиль для радиокнопки */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid var(--orange);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

/* Цвет кружка при выборе (активное состояние) */
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  /* Уменьшаем размер точки */
  height: 6px;
  background-color: var(--orange);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* Центрирование по осям */
}

/* Эффект при наведении */
input[type="radio"]:hover {
  border-color: var(--orange);
  box-shadow: 0 0 3px var(--orange);
}


.set-password-link-block {
  margin-top: 8px;
}

.set-password-link {
  color: var(--orange);
  text-decoration: none;
  font-size: 14px;
}

/* Стили для кнопки отправки формы */
.btn-primary {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;

  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: var(--dark-orange);
}


/* Дополнительные стили для позиционирования элементов */
.text-right {
  text-align: right;
}

.modal-body input[type="date"] {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-group-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.input-group-btn svg {
  width: 20px;
  height: 20px;
  color: var(--gray);
  /* Установите цвет иконки */
  transition: color 0.3s;
}

.input-group-btn:hover svg {
  color: var(--orange);
  /* Цвет иконки при наведении */
}


@media (max-width: 600px) {
  .modal-content {
    max-width: 95%;
    padding: 15px;
  }
}