/* TeachersListStyle.css */

.teachers-main-content {
    display: flex;
    padding-right: 25px;
}

.teachers-list {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.teacher-card {
    background-color: var(--white);
    height: 60px;
    width: calc(100% / 2 - 40px);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    transition: box-shadow 0.3s;
}

.teacher-card:hover {
    box-shadow: var(--card-box-shadow--active);
}

.teacher-card:hover #teacher-name {
    color: var(--orange);
}

.teacher-card-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-card-table-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.teacher-card-table {
    width: 100%;
    height: 100%;
    border: 0;
}

.teacher-card-table tr {
    width: 100%;
    height: 100%;
    display: flex;
}

.teacher-card-table td {
    width: 30%;
    height: 100%;
    font-size: 13px;
    color: var(--black);
}

.teacher-card-table td span {
    color: var(--black);
}

#teacher-name {
    font-weight: 600;
    transition: color 0.3s;
    justify-content: left;
}

#teacher-actions {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

#teacher-actions svg {
    height: 15px;
    width: 15px;
    fill: var(--orange);
}

#teacher-actions a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media(max-width: 1320px) {
    .teachers-list {
        width: 100%;
    }

    .teacher-card {
        width: calc(100% / 2 - 10px);
    }
}

@media(max-width: 1000px) {
    .teacher-card {
        width: 100%;
    }
}
