.simple-flex-wrap-bl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 20px;
    row-gap: 20px;
}

.index-card-bl {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);

    border-radius: 3px;
    box-shadow: var(--card-box-shadow);

    transition: box-shadow 0.3s;

}

.index-card-bl:hover {
    box-shadow: var(--card-box-shadow--active);
}

.index-card-content-bl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-card-bl-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-card-svg {
    width: 70px;
    height: 70px;

    fill: var(--orange);
}

.index-card-bl-title {
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-gray);
    padding: 10px 5px 0 5px;

    text-align: center;
}

.index-card-numinf-text {
    height: 30px;
    font-size: 27px;
    color: var(--orange);

    padding-top: 18px;
}